#grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  background: lightgray;
  border: 1px solid #000;
  cursor: pointer;
}
